.timeText {
    font-size: 11rem;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
}

.dateText {
    font-size: 3rem;
    font-family: 'Parkinsans', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
}

.amPmText {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
    margin: 0 0 32px;
}

.clockBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 20px;
    transition: 3s ease-in-out;
}

.clockBox > div {
    display: flex;
    flex-direction: row;
    align-items: end;
}